.complex-header {
  display: flex;
  align-items: center;
  gap: 25px;
}

.complex-header h2 {
  width: 66.5%;
}

form {
  gap: 20px;
}

form button {
  margin-left: 10px;
}

.inner-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input button {
  background: #ce4257;
  color: whitesmoke;
}

.input button::before {
  background-color:   #DC143C;

}

.input button:hover {
  color: #e8e8e8;
}
