/* App.css */
html, body,#root {
  height: 100%;
  margin: 0;
}
.app {
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 50px;
}

.form-container{
  align-self: center;
  border: 2px solid pink;
  width: 100%;
}

.form-container h2{
  text-align: left;
  padding-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  /* margin: 0 auto; */
  /* max-width: 300px; */
}

/* form div {
  margin-bottom: 15px;
} */

form label {
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form textarea {
  /* width: 100%; */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form textarea {
  resize: none;
}

.side-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.navigation{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation button{
  padding: 25px;
}

.livePage-container{
  display: flex;
  flex-direction: column;
  border: 2px solid pink;
  width: 100%;
}